<div class="command" id="command-{{ name }}">
    <div class="card text-center command">
        <div class="card-header">
            {{name}}
        </div>
        <div class="card-body">
            <h5 class="card-title">Command: {{name}}</h5>
            <p class="card-text">Usage: {{usage}}</p>
        </div>
    </div>
</div>