<div class="input-group search">
    <input type="text" class="form-control" id="searchInput" placeholder="Input">
    <button class="btn btn-light" id="searchButton">Search <i class="fas fa-search"></i></button>
</div>