<div class="text-center" id="commands" x-data="commandsState()">
    {{> commands/search }}

    {{#each commands}}
        {{> commands/command }}
    {{/each}}
</div>

<script>
    function commandsState() {
        return {
            commands: {{{json commands}}},
            categories: {{{json categories}}},
            filter: "",
            isTrue(name, category) {
                return name.startsWith(this.filter.toLowerCase()) || category === this.filter;
            }
        }
    }
</script>

{{!-- {{{script "static/js/commands.js"}}} --}}
{{{style "static/css/commands.css"}}}