<script>
    let commands = {{{json commands}}};
</script>

<div class="text-center" id="commands">
    {{> commands/search }}

    {{#each commands}}
        {{> commands/command }}
    {{/each}}
</div>

{{{script "static/js/commands.js"}}}
{{{style "static/css/commands.css"}}}