<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="turbolinks-cache-control" content="no-cache")
        title #{client.user.username}

        link(rel="stylesheet" type="text/css" href="/static/bundle/dist/index.css")

        script(src="/static/bundle/dist/index.js")
        script(src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js")

        script(src="/static/js/errorWarning.js")

    body(class="bg-dark")
        include partials/session

        div(class="alert alert-danger" id="errorsDetected" style="display: none") Some features might not work, Errors have been detected.(Click to hide me)

        include partials/navbar.pug

        block content
        
        block extraScripts

        block extraStyles

        style.
            .text-white {
                color: #FFFFFF !important;
            }