<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{client.user.username}

        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css")

        script(src="https://code.jquery.com/jquery-3.5.1.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js")
        script(src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js")

        script(src="/static/js/errorWarning.js")

    body(class="bg-dark")
        include partials/session

        div(class="alert alert-danger" id="errorsDetected" style="display: none") Some features might not work, Errors have been detected.(Click to hide me)

        include partials/navbar.pug

        block content
        
        block extraScripts

        block extraStyles

        style.
            .text-white {
                color: #FFFFFF !important;
            }